body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 20px;
}

table {
    border-collapse: collapse;
    font-size: small;
}

table, td, tr, th {
    border: 1px solid #ccc;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    font-weight: bolder;
}
